/* Style for status bar (Waybar)*/
* {
    font-size: 15px;
    min-height: 0;
    background-color: transparent;
    color: #e0def4;
}

window#waybar{
    /*background: transparent;*/
}


window#waybar.hidden{
}

#workspaces{
    background-color: #282828;
    padding: 0 0.2rem;
    margin: 0.15rem;
    border-radius: 10px;
}

.modules-left{
    background-color: #282828;
    padding: 0 0.5rem;
    margin: 0.15rem;
    border-radius: 10px;
}

.modules-center{
    background-color: #282828;
    padding: 0 0.5rem;
    margin: 0.25rem;
    border-radius: 10px;
}

.modules-right{
    background-color: #282828;
    padding: 0 0.5rem;
    margin: 0.25rem;
    border-radius: 10px;
}

#workspaces button{
    padding: 0 0.5rem;
    margin: 0.15rem;
}

#workspaces button.ugrent{
    background-color: red;
    border-radius: 1em;
    color: red;
}

