/* Style for status bar (Waybar)*/
* {
    font-size: 14px;
    font-family: "UbuntuMono Nerd Font Regular", monospace;
    color: #e0def4;
    min-height: 0;
    border-radius: 0;
    border: none;
    padding: 0.2rem;
}

window#waybar{
    background: rgba(0,0,0,0.55);
}


window#waybar.hidden{
}

#workspaces{
    padding: 0 0.2rem;
}

.modules-left{
    padding: 0 0.2rem;
}

.modules-center{
    padding: 0 0.2rem;
}

.modules-right{
    padding: 0 0.2rem;
}

#workspaces button{
    padding: 0 0.2rem;

}

#workspaces button.ugrent{
    background-color: red;
    border-radius: 1em;
    color: red;
}

